.mob-sidebar-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 127px 21px 20px;
    
}
.mob-logo > img{
    width: 42.887px !important;
    height: 38.197px !important;
    ;
}

.mob-logo > h1{
    font-size: 28px !important;
}
.mob-connect-wallet{
    padding: 4px 5px;
}

.mob-connect-wallet > img:nth-of-type(1) {
    height: 10px !important;
    width: 10px !important;
}
.mob-connect-wallet > img:nth-of-type(2) {
    height: 14px !important;
    width: 14px !important;
}
.mob-connect-wallet > h3{
    font-size: 10px;
    line-height: 0px;
}

.mob-account{
    gap: 5px !important;
}

.mob-account > div {
    gap: 0px !important;
}
.mob-account > div > p:nth-of-type(1){
    font-size: 10px !important;
}
.mob-account > div > p:nth-of-type(2){
    font-size: 5px !important;
}

.mob-account > span{
    padding: 2px 7px !important;
    gap: 2px  !important;
    cursor: pointer;
}

.mob-account > span > div > p{
    font-size: 8px !important;
    line-height: 8px;
} 

.mob-account > span > div:nth-of-type(2){
    width: 18px !important;
    height: 18px !important;
}